html,
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  background: #ffffff;
}
 * {
    box-sizing: border-box;
 }

.about-us {
  display: flex;
}


.btn {
  display: inline-flex;
  justify-content: center;
  padding: 10px 40px;
  margin: 0;

  border: 1px solid transparent;
  outline: none;
  border-radius: 3px;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  background: #FB565A;
  cursor: pointer;
}
.btn:hover {
  background-color: #D6494D;  
}
.btn:active {
  background-color: #B63538;
  box-shadow: inset 0 2px 0 #9B2D30;
}

  .btn--green {
    background-color: #00ca74;
  }
  .btn--green:hover {
  background-color: #01a25e;
  }
  .btn--green:active {
  background-color: #009053;
  box-shadow: inset 0 2px 0 #007b47;
  }

  .btn--yelloy {
    background-color: #efc84a;
  }
  .btn--yelloy:hover {
  background-color: #d6ae2c;
  }
  .btn--yelloy:active {
  background-color: #c09b24;
  box-shadow: inset 0 2px 0 #a3841f;
  }

  .btn--grey {
    color: #000000;
    background: #f1f1f1;
    font-weight: 500;
  }
  .btn--grey:hover {
    background: #e5e5e5;
  }
  .btn--grey:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 2px 0 #b5b5b5;
  }

  .btn--long {
    padding: 10px 70px;
  }

  .btn--number {
    padding: 10px 15px;
  }

  .btn--price {
    font-size: 18px;
    padding: 6px 40px;
  }  


.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 900px;
}


.content-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.gray-line-bottom {
  border-bottom: 2px solid #eeeeee;
}


.logo {
  display: inline-flex;
}


.main-menu {
  display: inline-flex;
  box-sizing: border-box;
  padding-top: 10px;
  font-size: 14px;
  line-height: 30px;
}

  .main-menu--right {
     float: right;
  }

  .main-menu__list {
    display: flex;
    list-style: none;    
  }

  .main-menu__item a {
    padding: 10px 15px;
    margin: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }

  .main-menu__item a:hover {
    color: #fb565a;
  }

  .main-menu__item a:active {
    color: #8f8f8f;
  }

  .main-menu__item--margin-pading {
    margin-left: 40px;
  }

  .main-menu__item--margin-pading a {
    padding-right: 0;
    margin-right: 0;
  }

  .main-menu__card {    
    position: relative;
  }

  .main-menu__card::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 5px;
    width: 15px;
    height: 15px;
    background: url(../img/basket.png) no-repeat 0 0;
  }

  .main-menu__card:hover::before {
    background-position: 0 100%;
  }

  .main-menu__card:active::before {
    opacity: 0.4;
    background-position: 0 0;
  }


.page-header {
  padding-top: 15px;
  background: #EEEEEE;
}


.slider {
  position: relative;
  display: flex;
  margin-top: 40px;
  min-height: 319px;
}

  .slider__radio {
    position: absolute;
    display: inline-flex;
  }

  .slider__radio:checked + .slider__slide {
    display: flex;
    justify-content: space-between;
    width: 880px;
  }

  .slider__radio--left {
    left: 47%;
    bottom: 70px;
  }
  
  .slider__radio--center {
    left: 50%;
    bottom: 70px;
  }

  .slider__radio--right {
    left: 53%;
    bottom: 70px;
  }

  .slider__slide {
    display: none;
  }


.slide {
}

  .slide__img {
    align-self: center;
  }

.we-make {
  width: 240px;
  font-size: 15px;
}



