


/*Начало Попап окна*/



  .modal-feedback-form__name {
    display: flex;
    flex-direction: column;
    width: 220px;
  }

  .modal-feedback-form__email {
    display: flex;
    flex-direction: column;
    width: 220px;
  }

  .modal-feedback-form__comment {
    display: flex;
    flex-direction: column;
    width: 460px;
    margin-top: 10px;
  }

  .modal-feedback__btn {     
    display: flex;
    width: 460px;
    margin-top: 45px;
  }

  .modal-feedback ::-webkit-input-placeholder {
    text-transform: uppercase;
  }

.overlay {
  display: none;
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background: rgba(0, 0, 0, 0.3);
}

.modal-show {
  display: flex;
}
/*Конец Попап окна