/*Начало Общие декоративные элементы для сайта*/
/*Начало Радиобатон*/
.radio input[type="radio"] {
  display: none;
}
.radio label {
  position: relative;
  padding-left: 35px;
}
.radio label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #c1c1c1;
  background: #ffffff;
}

.radio input[type="radio"]:checked + label::before {
  box-shadow: 
    inset 0 0 0 3px #c1c1c1,
    inset 0 0 0 8px #ffffff;
  background: #c1c1c1;
 }
/*Конец Радиобатон*/

/*Начало Чекбокс*/
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox label {
  position: relative;
  padding-left: 35px;
}
.checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 27px;
  height: 23px;
  background: url(../img/icon-checkbox.png) no-repeat 0 100%;
}

.checkbox input[type="checkbox"]:checked + label::before {
  background: url(../img/icon-checkbox.png) no-repeat 0 0;
}
/*Конец Чекбокс*/


/*Начало Список, красная линия впереди*/

/*Конец Список, красная линия впереди*/


/*Начало Стиль для текстовых полей*/


.inner-page {
  margin-top: 80px;
}

  .find-form {
    width: 240px;
  }
    
    .find-form__block-title {
      display: inline-flex;
      align-items: center;
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 1.3;
      text-transform: uppercase;
    }

    .find-form__price__range-runner {
      position: relative;
      display: inline-flex;
      margin-bottom: 14px;
      width: 240px;
      height: 80px;
      border-radius: 4px;
      background: #f1f1f1;
    }

      .find-form__price__range-runner__circle_start,
      .find-form__price__range-runner__circle_end {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        display: inline-flex;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow: 
          0 2px 0 0 #d0d0d0,
          inset 0 0 0 8px #ffffff;
        background: #ababab;
        cursor: pointer;
        z-index: 30;
      }

      .find-form__price__range-runner__circle_start {
        left: 20px;
      }

      .find-form__price__range-runner__circle_end {
        right: 70px;
      }

      .find-form__price__range-runner__line_green,
      .find-form__price__range-runner__line_grey {
        display: inline-flex;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 30px;
        height: 2px;
        
      }

      .find-form__price__range-runner__line_green {
        width: 130px;
        background: #00ca74;
        z-index: 20;
      }

      .find-form__price__range-runner__line_grey {
        width: 180px;
        background: #d7dcde;
        z-index: 10;
      }
    .find-form__price__min-max {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .find-form__price__min-max input {
      display: inline-flex;
      justify-content: center;
      padding: 7px 0;
      width: 80px;
      margin-left: 8px;

      border: 1px solid transparent;
      outline: none;
      border-radius: 3px;
      text-align: center;

      background: #F1F1F1;
      }

      .find-form__type {
        display: inline-flex;
        flex-direction: column;
        margin-top: 40px;
      }
      .find-form__type:last-of-type {
        margin-bottom: 40px;
      }

      .find-form__type label {
        margin-bottom: 18px;
      }
      .find-form__type label:last-child {
        margin-bottom: 0;
      }


  .right-content {
    width: 560px;
  }

    .sorting {
        margin-bottom: 20px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .sorting__title {
      margin-right: 40px;
    }

    .sorting__type {
      margin-right: 40px;
      border-bottom: 1px dotted #00ca74;
      color: #b2b2b2;
      text-decoration: none;
    }
    .sorting__type:hover {
      border-bottom: 1px solid #00ca74;
      color: #000000;
    }
    .sorting__type:active {
      border: none;
    }

    .sorting__title_active {
      color: #000000;
      border: none;
    }
    .sorting__title_active:hover {
      border: none;
    }

    .sorting__control {
      position: relative;
      float: right;
      width: 30px;
      height: 10px;
    }

      .sorting__control__from-big,
      .sorting__control__from-small {
        position: absolute;
        font-size: 0;
        width: 0;
        height: 0;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
      }

      .sorting__control__from-big {
        border-top: 10px solid #b2b2b2;
      }
      .sorting__control__from-big:active {
        border-top: 10px solid #000000;
      }
      .sorting__control__from-big_active {
        border-top: 10px solid #00CA74;
      }

      .sorting__control__from-small {
        left: 18px;
        border-bottom: 10px solid #b2b2b2;
      }
      .sorting__control__from-small:active {
        border-bottom: 10px solid #000000;
      }
      .sorting__control__from-small_active {
        border-bottom: 10px solid #00CA74;
      }

    .production {
      display: inline-flex;
      flex-wrap: wrap;
    }
      .production__item {
        position: relative;
        width: 240px;
        height: 270px;
        margin-bottom: 80px;
      }

        .production__item__img {
          position: absolute;
          top: 30px;
          z-index: 10;
        }

        .production__item__header {
          display: flex;
          align-items: center;
          width: 240px;
          height: 30px;
          padding-left: 25px;
          background: #F1F1F1;
          border-radius: 5px 5px 0 0;
        }

        .production__item:hover .production__item__header {
          background: #797979;
        }

          .production__item__header__circle {
            position: relative;
            display: inline-flex;
            width: 10px;
            height: 10px;
            margin-right: 5px;
            border-radius: 50%;
            background: #ffffff;
          }

            .production__item__header__circle::before,
            .production__item__header__circle::after {
              content: "";
              position: absolute;        
              display: inline-flex;
              width: 10px;
              height: 10px;
              margin-right: 5px;
              border-radius: 50%;
              background: #ffffff;
              }
            .production__item__header__circle::before {
              left: 15px;
            }
            .production__item__header__circle::after {
              right: 10px;
            }

        .production__item__body {
          position: relative;
          width: 200px;
          height: 200px;
          margin: 20px;
          padding-top: 35px;
          padding-left: 20px;
          padding-right: 20px; 
          text-align: center;
          background: #ffffff;
          font-size: 14px;
          z-index: 5;
        }

          .production__item__body__title {
            font-size: 18px;
            text-transform: uppercase;
          }



        .production__item:hover .production__item__body {
          z-index: 15;
        }

    .pages-nav {
      margin-bottom: 80px;
    }

    .pages-nav a {
      margin-right: 5px;
    }

    .page-nav_active {
      background: #ffffff;
      border: 1px solid #F2F2F2;
      box-shadow: inset 0 0 0 1px #F2F2F2;
    }
    .page-nav_active:hover {
      background: #ffffff;
      border: 1px solid #F2F2F2;
      box-shadow: inset 0 0 0 1px #F2F2F2;
      cursor: default;
    }

    .off {
      display: none;
    }



/*Начало Попап окна*/



  .modal-feedback-form__name {
    display: flex;
    flex-direction: column;
    width: 220px;
  }

  .modal-feedback-form__email {
    display: flex;
    flex-direction: column;
    width: 220px;
  }

  .modal-feedback-form__comment {
    display: flex;
    flex-direction: column;
    width: 460px;
    margin-top: 10px;
  }

  .modal-feedback__btn {     
    display: flex;
    width: 460px;
    margin-top: 45px;
  }

  .modal-feedback ::-webkit-input-placeholder {
    text-transform: uppercase;
  }

.overlay {
  display: none;
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background: rgba(0, 0, 0, 0.3);
}

.modal-show {
  display: flex;
}
/*Конец Попап окна