/*Начало Общие декоративные элементы для сайта*/
/*Начало Красная прямоугольная кнопка*/
.btn {
  display: inline-flex;
  justify-content: center;
  padding: 10px 40px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #FB565A;
}

  .btn:hover {
    background-color: #D6494D;  
  }

  .btn:active {
    background-color: #B63538;
    box-shadow: inset 0 2px 0 #9B2D30;
  }

.btn_green {
  background-color: #00ca74;
}

  .btn_green:hover {
  background-color: #01a25e;
  }

  .btn_green:active {
  background-color: #009053;
  box-shadow: inset 0 2px 0 #007b47;
  }

.btn_yelloy {
  background-color: #efc84a;
}

  .btn_yelloy:hover {
  background-color: #d6ae2c;
  }
  
  .btn_yelloy:active {
  background-color: #c09b24;
  box-shadow: inset 0 2px 0 #a3841f;
  }

.btn_long {
  padding: 10px 70px;
}
/*Конец Красная прямоугольная кнопка*/


/*Начало Линия серая, разделитель блоков*/
.gray-line {
  border-bottom: 2px solid #eeeeee;
}
/*Конец Линия серая, разделитель блоков*/


/*Начало Список, красная линия впереди*/
.non-standart-list {
  list-style: none;
  padding: 0;
}

  .non-standart-list li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 24px;
  }

  .non-standart-list li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 25px;
    height: 2px;
    background: #fb565a;
  }
/*Конец Список, красная линия впереди*/


/*Начало Стиль для текстовых полей*/
.text {
  padding: 5px 15px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  min-height: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 18px;    
  font-size: 12px;
}

.text:hover {
  border-color: #a2a9ac;
}

.text:focus {
  border-color: #56bffb;
  outline: none;
}


/*Конец Стиль для текстовых полей*/


/*Начало Закрывалкя close для оконон*/
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50px;
  background: #fb565a;
  font-size: 0;
}

.close:hover {
  background-color: #d6494d;
}

.close:active {
  background-color: #b63538;
  box-shadow: inset 0 2px 0 #9b2d30;
}

  .close::before,
  .close::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -2px;
    margin-right: -13px;
    width: 26px;
    height: 4px;
    background: #ffffff;
  }

  .close::before {
    transform: rotate(45deg);
  }

  .close::after {
    transform: rotate(-45deg);
  }


 
/*Конец Закрывалкя close для оконон*/
/*Конец Общие декоративные элементы для сайта*/

html,
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
  background: #ffffff;
}
 * {
    box-sizing: border-box;
 }

h2 {
  font-size: 36px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

header {
  display: flex;

  padding-top: 15px;
  background: #EEEEEE;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 900px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.main-menu {
}

  .main-menu__list {
    display: flex;
    margin-top: 25px;
    list-style: none;
    font-size: 14px;
    line-height: 30px;
  }

    .main-menu__list li:last-child {
      margin-left: 40px;
    }

    .main-menu__list a {
      padding: 10px 15px;
      margin: 0 5px;
      text-transform: uppercase;
      text-decoration: none;
      color: #000000;
    }

    .main-menu__list a:hover {
      color: #fb565a;
    }

    .main-menu__list a:active {
      color: #8f8f8f;
    }

    .main-menu__list .main-menu__list_card {
      padding-right: 0;
      margin-right: 0;
    }

      .main-menu__list_card {
        position: relative;
      }

      .main-menu__list_card::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 25%;
        width: 15px;
        height: 15px;
        background: url(../img/basket.png) no-repeat 0 0;
      }

        .main-menu__list_card:hover::before {
          background-position: 0 100%;
        }

        .main-menu__list_card:active::before {
          opacity: 0.4;
          background-position: 0 0;
        }

.slider {
  position: relative;
  display: flex;
  margin-top: 20px;
  min-height: 319px;
}

  .slider__radio1 {
    position: absolute;
    display: inline-flex;
    left: 48%;
    bottom: 70px;
  }
  
  .slider__radio2 {
    position: absolute;
    display: inline-flex;
    left: 50%;
    bottom: 70px;
  }

  .slider__radio3 {
    position: absolute;
    display: inline-flex;
    left: 52%;
    bottom: 70px;

  }
  .slider__slide {
    display: none;
  }

  .slider input[type=radio]:checked + label + .slider__slide {
    display: flex;
    justify-content: space-between;
    width: 880px;
  }

  .slide__img {
    align-self: center;

  }

  .slide__left {
    align-self: center;
    padding-left: 10px;
    margin-bottom: 60px;
    width: 480px;

  }

    .slide__left__body {
      margin-bottom: 30px;
    }

.product {
  padding-bottom: 80px;
  margin-top: 80px;
}

  .product__item {
    font-size: 15px;
    width: 240px;
  }

    .product__item__title {
      text-transform: uppercase;
    }

    .product__item__body {
      margin-bottom: 25px;
    }

.about-us {
  padding-bottom: 60px;
  margin-top: 40px;
}

  .about-us__offer {
    width: 630px;
    padding-right: 20px;
  }

    .about-us__offer__title {
      margin-top: 25px;
      margin-bottom: 9px;
    }

    .about-us__offer__body {
      margin-bottom: 45px;
    }

    .about-us__offer__list-title {
      display: flex;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

  .about-us__how-work {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-top: 25px;
  }

    .bout-us__how-work__logo {
      align-self: center;
    }

    .about-us__how-work__since {
      position: relative;
      display: inline-flex;
      padding: 0 15px;
      text-transform: uppercase;
      background-color: #ffffff;
      z-index: 50;
    }/*Начало Линии по краям заголовка*/
    .line-for-title {
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: 32px;
    }
    .line-for-title::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      border-bottom: 2px solid #eeeeee;
      width: 100%;
      z-index: 10;
      }/*Конец Линии по краям заголовка*/

    .about-us__how-work__title {
      margin-top: 68px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

.partners {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  margin-top: 45px;
  margin-bottom: 80px;
}

.partners__item {
  font-size: 0;
  opacity: 0.3;
}

.partners__item:hover {
  opacity: 1;
}


.map {
  display: flex;
  align-items: center;
  width: 1199px;
  min-height: 416px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 160px;
  background: url(../img/map.jpg) no-repeat;
}

  .map__address {
    width: 250px;
    padding: 25px;
    background: #ffffff;
  }

    .map__address__title {
      text-transform: uppercase;
    }

    .map__address__body {
      color: #666666;
    }

    .map__address__feedback {
      display: flex;
      justify-content: center;
    }

.social {
  align-items: center;
  margin-top: 40px;
  margin-bottom: 70px;
}

  .social__buttons__btn {
    display: inline-flex;
    width: 60px;
    height: 60px;
    margin-right: 25px;
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    font-size: 0;
    background: #E1E1E1 url(../img/icon-social.png) no-repeat;
  }

  .social__buttons__btn:hover {
    background-color: #FB565A;
  }

  .social__buttons__btn:active {
    background-color: #D6494D;  
    box-shadow: inset 0 2px 0 #B63E42;
  }

    .social__buttons__btn_vk {
      background-position: 16px 45%;
    }

    .social__buttons__btn_fb {
      background-position: -75px 45%;
    }

    .social__buttons__btn_inst {
      background-position: -164px 45%;
    }

/*Начало Попап окна*/
.modal-feedback {
  display: none;
  position: fixed;
  left: 50%;
  top: 100px;
  margin-left: -315px;
  width: 630px;
  padding: 50px 90px 50px 80px;
  box-shadow: 0 20px 40px #000000;
  background: #ffffff;
  z-index: 100;
}

  .modal-feedback label {
    line-height: 2;
  }

  .modal-feedback__form {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .modal-feedback-form__name {
    display: flex;
    flex-direction: column;
    width: 220px;
  }

  .modal-feedback-form__email {
    display: flex;
    flex-direction: column;
    width: 220px;
  }

  .modal-feedback-form__comment {
    display: flex;
    flex-direction: column;
    width: 460px;
    margin-top: 10px;
  }

  .modal-feedback__btn {     
    display: flex;
    width: 460px;
    margin-top: 45px;
  }

  .modal-feedback ::-webkit-input-placeholder {
    text-transform: uppercase;
  }

.overlay {
  display: none;
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background: rgba(0, 0, 0, 0.3);
}
/*Конец Попап окна